<nav class="nav" aria-label="Основная навигация">
  <ul class="nav__list">
    <li><a href="{{PAGES}}index.html" class="nav__link" data-nav="home">Главная</a></li>
    <li><a href="{{PAGES}}about.html" class="nav__link" data-nav="about">О компании</a></li>
    <li class="nav__item--dropdown">
      <a href="{{PAGES}}services.html" class="nav__link" data-nav="services">Услуги</a>
      <ul class="nav__dropdown">
        <li><a href="{{PAGES}}service-its.html" class="nav__dropdown-link">Обслуживание и сопровождение 1С</a></li>
        <li><a href="{{PAGES}}line-consulting.html" class="nav__dropdown-link">Линия консультаций</a></li>
        <li><a href="{{PAGES}}service-customize.html" class="nav__dropdown-link">Внедрение 1С</a></li>
        <li><a href="{{PAGES}}service-1cbo.html" class="nav__dropdown-link">Бухгалтерское обслуживание</a></li>
        <li><a href="{{PAGES}}norma-service.html" class="nav__dropdown-link">Norma CS</a></li>
        <li><a href="{{PAGES}}service-kkt.html" class="nav__dropdown-link">Сопровождение ККТ</a></li>
      </ul>
    </li>
    <li class="nav__item--dropdown">
      <a href="{{PAGES}}catalog-programs.html" class="nav__link" data-nav="products">Продукты</a>
      <ul class="nav__dropdown">
        <li><a href="{{PAGES}}catalog-programs.html" class="nav__dropdown-link">Программы 1С</a></li>
        <li><a href="{{PAGES}}catalog-services.html" class="nav__dropdown-link">Сервисы 1С</a></li>
        <li><a href="{{PAGES}}product-norma.html" class="nav__dropdown-link">Norma CS</a></li>
        <li><a href="{{PAGES}}product-kkt.html" class="nav__dropdown-link">ККТ и торговое оборудование</a></li>
      </ul>
    </li>
    <li class="nav__item--dropdown">
      <a href="{{PAGES}}index.html#industries" class="nav__link" data-nav="industries">Отрасли</a>
      <ul class="nav__dropdown">
        <li><a href="{{PAGES}}retail.html" class="nav__dropdown-link">Розничная торговля</a></li>
        <li><a href="{{PAGES}}wholesale.html" class="nav__dropdown-link">Оптовая торговля</a></li>
        <li><a href="{{PAGES}}cafe.html" class="nav__dropdown-link">Общепит и рестораны</a></li>
        <li><a href="{{PAGES}}production.html" class="nav__dropdown-link">Производство</a></li>
        <li><a href="{{PAGES}}construction.html" class="nav__dropdown-link">Строительство</a></li>
        <li><a href="{{PAGES}}mining.html" class="nav__dropdown-link">Добывающая промышленность</a></li>
      </ul>
    </li>
    <li><a href="{{PAGES}}blog.html" class="nav__link" data-nav="blog">Новости</a></li>
    <li><a href="{{PAGES}}contacts.html" class="nav__link" data-nav="contacts">Контакты</a></li>
  </ul>
</nav>

<div class="mobile-menu" aria-hidden="true">
  <ul class="mobile-menu__list">
    <li><a href="{{PAGES}}index.html" class="mobile-menu__link" data-nav="home">Главная</a></li>
    <li><a href="{{PAGES}}about.html" class="mobile-menu__link" data-nav="about">О компании</a></li>
    <li><a href="{{PAGES}}services.html" class="mobile-menu__link" data-nav="services">Услуги</a></li>
    <li class="mobile-menu__sub">
      <a href="{{PAGES}}service-its.html" class="mobile-menu__link mobile-menu__link--sub">Обслуживание и сопровождение 1С</a>
      <a href="{{PAGES}}line-consulting.html" class="mobile-menu__link mobile-menu__link--sub">Линия консультаций</a>
      <a href="{{PAGES}}service-customize.html" class="mobile-menu__link mobile-menu__link--sub">Внедрение 1С</a>
      <a href="{{PAGES}}service-1cbo.html" class="mobile-menu__link mobile-menu__link--sub">Бухгалтерское обслуживание</a>
      <a href="{{PAGES}}norma-service.html" class="mobile-menu__link mobile-menu__link--sub">Norma CS</a>
      <a href="{{PAGES}}service-kkt.html" class="mobile-menu__link mobile-menu__link--sub">Сопровождение ККТ</a>
    </li>
    <li><a href="{{PAGES}}catalog-programs.html" class="mobile-menu__link" data-nav="products">Продукты</a></li>
    <li class="mobile-menu__sub">
      <a href="{{PAGES}}catalog-programs.html" class="mobile-menu__link mobile-menu__link--sub">Программы 1С</a>
      <a href="{{PAGES}}catalog-services.html" class="mobile-menu__link mobile-menu__link--sub">Сервисы 1С</a>
      <a href="{{PAGES}}product-norma.html" class="mobile-menu__link mobile-menu__link--sub">Norma CS</a>
      <a href="{{PAGES}}product-kkt.html" class="mobile-menu__link mobile-menu__link--sub">ККТ и торговое оборудование</a>
    </li>
    <li><a href="{{PAGES}}index.html#industries" class="mobile-menu__link" data-nav="industries">Отрасли</a></li>
    <li class="mobile-menu__sub">
      <a href="{{PAGES}}retail.html" class="mobile-menu__link mobile-menu__link--sub">Розничная торговля</a>
      <a href="{{PAGES}}wholesale.html" class="mobile-menu__link mobile-menu__link--sub">Оптовая торговля</a>
      <a href="{{PAGES}}cafe.html" class="mobile-menu__link mobile-menu__link--sub">Общепит и рестораны</a>
      <a href="{{PAGES}}production.html" class="mobile-menu__link mobile-menu__link--sub">Производство</a>
      <a href="{{PAGES}}construction.html" class="mobile-menu__link mobile-menu__link--sub">Строительство</a>
      <a href="{{PAGES}}mining.html" class="mobile-menu__link mobile-menu__link--sub">Добывающая промышленность</a>
    </li>
    <li><a href="{{PAGES}}blog.html" class="mobile-menu__link" data-nav="blog">Новости</a></li>
    <li><a href="{{PAGES}}contacts.html" class="mobile-menu__link" data-nav="contacts">Контакты</a></li>
  </ul>
  <div class="mobile-menu__actions">
    <a href="tel:+74242300420" class="btn btn--secondary btn--sm">+7 (4242) 30-04-20</a>
    <a href="{{PAGES}}contacts.html" class="btn btn--primary">Связаться</a>
  </div>
</div>
