<nav class="nav" aria-label="Основная навигация">
  <ul class="nav__list">
    <li><a href="{{PAGES}}index.html" class="nav__link" data-nav="home">Главная</a></li>
    <li class="nav__item--dropdown">
      <a href="{{PAGES}}index.html#industries" class="nav__link" data-nav="industries">Отрасли</a>
      <ul class="nav__dropdown">
        <li><a href="{{PAGES}}retail.html" class="nav__dropdown-link">Розничная торговля</a></li>
        <li><a href="{{PAGES}}wholesale.html" class="nav__dropdown-link">Оптовая торговля</a></li>
        <li><a href="{{PAGES}}cafe.html" class="nav__dropdown-link">Общепит и рестораны</a></li>
        <li><a href="{{PAGES}}production.html" class="nav__dropdown-link">Производство</a></li>
        <li><a href="{{PAGES}}construction.html" class="nav__dropdown-link">Строительство</a></li>
        <li><a href="{{PAGES}}mining.html" class="nav__dropdown-link">Добывающая промышленность</a></li>
      </ul>
    </li>
    <li><a href="{{PAGES}}about.html" class="nav__link" data-nav="about">О компании</a></li>
    <li class="nav__item--dropdown">
      <a href="{{PAGES}}services.html" class="nav__link" data-nav="services">Услуги</a>
      <ul class="nav__dropdown">
        <li><a href="{{PAGES}}service-its.html" class="nav__dropdown-link">Сопровождение 1С (ИТС)</a></li>
        <li><a href="{{PAGES}}service-1cbo.html" class="nav__dropdown-link">1С:БухОбслуживание</a></li>
        <li><a href="{{PAGES}}service-otchetnost.html" class="nav__dropdown-link">1С-Отчётность</a></li>
        <li><a href="{{PAGES}}service-customize.html" class="nav__dropdown-link">Настройка и внедрение</a></li>
        <li><a href="{{PAGES}}service-kkt.html" class="nav__dropdown-link">Настройка торгового оборудования</a></li>
        <li><a href="{{PAGES}}service-fresh.html" class="nav__dropdown-link">1С:Фреш</a></li>
      </ul>
    </li>
    <li><a href="{{PAGES}}cases.html" class="nav__link" data-nav="cases">Кейсы</a></li>
    <li><a href="{{PAGES}}blog.html" class="nav__link" data-nav="blog">Блог</a></li>
    <li><a href="{{PAGES}}contacts.html" class="nav__link" data-nav="contacts">Контакты</a></li>
  </ul>
</nav>

<div class="mobile-menu" aria-hidden="true">
  <ul class="mobile-menu__list">
    <li><a href="{{PAGES}}index.html" class="mobile-menu__link" data-nav="home">Главная</a></li>
    <li><a href="{{PAGES}}index.html#industries" class="mobile-menu__link" data-nav="industries">Отрасли</a></li>
    <li class="mobile-menu__sub">
      <a href="{{PAGES}}retail.html" class="mobile-menu__link mobile-menu__link--sub">Розничная торговля</a>
      <a href="{{PAGES}}wholesale.html" class="mobile-menu__link mobile-menu__link--sub">Оптовая торговля</a>
      <a href="{{PAGES}}cafe.html" class="mobile-menu__link mobile-menu__link--sub">Общепит и рестораны</a>
      <a href="{{PAGES}}production.html" class="mobile-menu__link mobile-menu__link--sub">Производство</a>
      <a href="{{PAGES}}construction.html" class="mobile-menu__link mobile-menu__link--sub">Строительство</a>
      <a href="{{PAGES}}mining.html" class="mobile-menu__link mobile-menu__link--sub">Добывающая промышленность</a>
    </li>
    <li><a href="{{PAGES}}about.html" class="mobile-menu__link" data-nav="about">О компании</a></li>
    <li><a href="{{PAGES}}services.html" class="mobile-menu__link" data-nav="services">Услуги</a></li>
    <li class="mobile-menu__sub">
      <a href="{{PAGES}}service-its.html" class="mobile-menu__link mobile-menu__link--sub">Сопровождение 1С (ИТС)</a>
      <a href="{{PAGES}}service-1cbo.html" class="mobile-menu__link mobile-menu__link--sub">1С:БухОбслуживание</a>
      <a href="{{PAGES}}service-otchetnost.html" class="mobile-menu__link mobile-menu__link--sub">1С-Отчётность</a>
      <a href="{{PAGES}}service-customize.html" class="mobile-menu__link mobile-menu__link--sub">Настройка и внедрение</a>
      <a href="{{PAGES}}service-kkt.html" class="mobile-menu__link mobile-menu__link--sub">Настройка ККТ</a>
      <a href="{{PAGES}}service-fresh.html" class="mobile-menu__link mobile-menu__link--sub">1С:Фреш</a>
    </li>
    <li><a href="{{PAGES}}cases.html" class="mobile-menu__link" data-nav="cases">Кейсы</a></li>
    <li><a href="{{PAGES}}blog.html" class="mobile-menu__link" data-nav="blog">Блог</a></li>
    <li><a href="{{PAGES}}contacts.html" class="mobile-menu__link" data-nav="contacts">Контакты</a></li>
  </ul>
  <div class="mobile-menu__actions">
    <a href="tel:+74242300420" class="btn btn--secondary btn--sm">+7 (4242) 30-04-20</a>
    <a href="{{PAGES}}contacts.html" class="btn btn--primary">Связаться</a>
  </div>
</div>
